<h3>Add Offers &amp; Links</h3><br/>
<div style="text-align:left">
  <div class="offer1">
    <h3>Offer #1</h3>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Title*</label>
        <input type="text" ng-model="campaign.offers[0].title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="10% off at Dominos">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Link*</label>
        <input type="text" ng-model="campaign.offers[0].link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="http://teamfirstapp.com">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Description*</label>
        <input type="text" ng-model="campaign.offers[0].desc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Weekly Student Campaign <DATE>">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">{{category}}
        <label for="exampleInputEmail1">Category*</label>
        <select class="form-control" id="exampleSelect1" ng-model="campaign.offers[0].category">
          <option value="0">Select one</option>
          <option ng-repeat="category in catrgories" value="{{category.id}}">{{category.title[0].toUpperCase() + category.title.substr(1)}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Image File Name*</label>
        <input type="text" ng-model="campaign.offers[0].image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xyz.jpg">
        <small id="emailHelp" class="form-text text-muted">You sould upload the pictures manually using Cyber Duck</small>
      </div>
    </div>
  </div>
  <hr/>
  <div class="offer1">
    <h3>Offer #2</h3>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Title*</label>
        <input type="text" ng-model="campaign.offers[1].title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="10% off at Dominos">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Link*</label>
        <input type="text"  ng-model="campaign.offers[1].link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="http://teamfirstapp.com">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Description*</label>
        <input type="text" ng-model="campaign.offers[1].desc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Weekly Student Campaign <DATE>">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Category*</label>
        <select class="form-control" id="exampleSelect1" ng-model="campaign.offers[1].category">
          <option value="0">Select one</option>
          <option ng-repeat="category in catrgories" value="{{category.id}}">{{category.title[0].toUpperCase() + category.title.substr(1)}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Image File Name*</label>
        <input type="text" ng-model="campaign.offers[1].image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xyz.jpg">
        <small id="emailHelp" class="form-text text-muted">You sould upload the pictures manually using Cyber Duck</small>
      </div>
    </div>
  </div>
  <hr/>
  <hr/>
  <div class="offer1">
    <h3>Offer #3</h3>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Title*</label>
        <input type="text" ng-model="campaign.offers[2].title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="10% off at Dominos">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Link*</label>
        <input type="text" ng-model="campaign.offers[2].link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="http://teamfirstapp.com">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Description*</label>
        <input type="text" ng-model="campaign.offers[2].desc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Weekly Student Campaign <DATE>">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Category*</label>
        <select class="form-control" id="exampleSelect1" ng-model="campaign.offers[2].category">
          <option value="0">Select one</option>
          <option ng-repeat="category in catrgories" value="{{category.id}}">{{category.title[0].toUpperCase() + category.title.substr(1)}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Image File Name*</label>
        <input type="text" ng-model="campaign.offers[2].image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xyz.jpg">
        <small id="emailHelp" class="form-text text-muted">You sould upload the pictures manually using Cyber Duck</small>
      </div>
    </div>
  </div>
  <hr/>
  <hr/>
  <div class="offer1">
    <h3>Offer #4</h3>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Title*</label>
        <input type="text" ng-model="campaign.offers[3].title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="10% off at Dominos">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Link*</label>
        <input type="text" ng-model="campaign.offers[3].link" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="http://teamfirstapp.com">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Description*</label>
        <input type="text" ng-model="campaign.offers[3].desc" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Weekly Student Campaign <DATE>">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Category*</label>
        <select class="form-control" id="exampleSelect1" ng-model="campaign.offers[3].category">
          <option value="0">Select one</option>
          <option ng-repeat="category in catrgories" value="{{category.id}}">{{category.title[0].toUpperCase() + category.title.substr(1)}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Image File Name*</label>
        <input type="text" ng-model="campaign.offers[3].image" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="xyz.jpg">
        <small id="emailHelp" class="form-text text-muted">You sould upload the pictures manually using Cyber Duck</small>
      </div>
    </div>
  </div>
  <hr/><br clear="all"/>
  <hr/>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:left">
    <button class="btn btn-secondary" ui-sref="form.campaign"><< Prev</button>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" style="text-align:right">
    <button class="btn btn-primary" ui-sref="form.review">Next >></button>
  </div>

</div>
<hr/>
<br clear="all"/><br/>
